registry=https://softwareone-pc.pkgs.visualstudio.com/_packaging/PyraCloud/npm/registry/
//softwareone-pc.pkgs.visualstudio.com/_packaging/PyraCloud/npm/registry/:username=krzysztof.orkisz
//softwareone-pc.pkgs.visualstudio.com/_packaging/PyraCloud/npm/registry/:_password=eWM1aWRhb2thbzY2Z3h2amZydGt5Y3FsbHduaGhzY29nYXFyNXJ2ZndlZW50bWoyYm9kYQ==
//softwareone-pc.pkgs.visualstudio.com/_packaging/PyraCloud/npm/registry/:email=krzysztof.orkisz@softwareone.com
//softwareone-pc.pkgs.visualstudio.com/_packaging/PyraCloud/npm/registry/:always-auth=true
